{% extends 'base.html' %} {% block css %} {% endblock css %} {% block content %}
<div class="container">
  <div class="row">
    <!-- Blog entries-->
    <div class="col-lg-8">
      <!-- Featured blog post-->
      <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="{{post.image}}" alt="..." /></a>
        <div class="card-body">
          <div class="small text-muted">{{post.category}}</div>
          <h2 class="card-title">{{post.title}}</h2>
          <p class="card-text">
           {{post.content}}
          </p>
        </div>
      </div>

    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
      <!-- Search widget-->

      <!-- Side widget-->
      {% if user.is_staff %}
      <div class="card mb-4">
        <div class="card-header mb-2">Posts</div>
        <a class="btn mx-2 mb-2 btn-primary btn-lg border-bottom" href="{% url 'newpost' %}">Create New Post→</a>

        <a class="btn mx-2 mb-2 btn-primary btn-lg border-bottom" href="{% url 'mypost' %}">My Posts</a>
      </div>
      {% endif %}

      <!-- Categories widget-->
      <!-- <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
          <div class="row">
            <div class="row-sm-6">
              <li class="list-unstyled mb-0">
                <a class="btn btn-primary p-2 border-bottom" onclick="mh()" href="#">Mental Health</a>
                <a class="btn btn-primary p-2 border-bottom" onclick="hd()" href="#">Heart Disease</a>
                <a class="btn btn-primary p-2 border-bottom" onclick="cd()" href="#">Covid19</a>
                <a class="btn btn-primary p-2 border-bottom" onclick="im()" href="#">Immunization</a>
              </li>
            </div> -->
            <!-- <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Covid19</a></li>
                                <li><a href="#!">Immunization</a></li>
                                
                            </ul>
                        </div> -->
          <!-- </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

{% endblock content %}